<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading">Loading work...</div>
    <div *ngIf="!!perfint">
      <h2>Integration: {{ perfint.plugin.title }}; for {{ perfint.performance.title }}</h2>
      <p>Plugin: {{ perfint.plugin.title }} ({{ perfint.plugin.code}})</p>
      <p>Plugin enabled: {{ perfint.enabled }}</p>
      <p>Performance: {{perfint.performance.title}}</p>
      <p *ngIf="perfint.performance.work">Work: {{ perfint.performance.work.title }} ({{perfint.performance.work.year}})</p>
      <p>Performer: {{perfint.performance.performer_title}}</p>
      <p>Venue: {{perfint.performance.venue_title}}</p>
      <p>Performance Status: {{perfint.performance.status}}</p>
      <p>GUID: {{ perfint.guid }}</p>
      <h3>Actions</h3>
      <ul>
        <div *ngFor="let action of actions" class="alert" [ngClass]="{'alert-danger':action.error,'alert-success':action.success,'alert-info':(!action.success && !action.error)}">{{action.text}}</div>
      </ul>
      <div>
        <!-- TODO disable depending on role? enabled? -->
        <button class="button" (click)="doUpdate()" [disabled]="!perfint.enabled">Update</button>
        <!-- TODO: other actions... -->
      </div>
    </div>
  </div>
</div>