<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading">Loading work...</div>
    <div *ngIf="!!perfint">
      <h2>Integration: {{ perfint.plugin.title }}; for {{ perfint.performance.title }}</h2>
      <p>Plugin: {{ perfint.plugin.title }} ({{ perfint.plugin.code}})</p>
      <p>Plugin enabled: {{ perfint.enabled }}</p>
      <p>Performance: {{perfint.performance.title}}</p>
      <p *ngIf="perfint.performance.work">Work: {{ perfint.performance.work.title }} ({{perfint.performance.work.year}})</p>
      <p>Performer: {{perfint.performance.performer_title}}</p>
      <p>Venue: {{perfint.performance.venue_title}}</p>
      <p>Performance Status: {{perfint.performance.status}}</p>
      <p>GUID: {{ perfint.guid }}</p>
      <h3>Actions</h3>
      <ul>
        <div *ngFor="let action of actions" class="alert" [ngClass]="{'alert-danger':action.error,'alert-success':action.success,'alert-info':(!action.success && !action.error)}">{{action.text}}</div>
      </ul>
      <div *ngIf="perfint.plugin.actions">
        <!-- TODO disable depending on role? enabled? -->
        <ng-template ngFor let-action [ngForOf]="perfint.plugin.actions">
			<ng-template #confirmdialog let-c="close" let-d="dismiss">
			  <div class="modal-header">
			    <h4 class="modal-title">{{action.title}}?</h4>
			    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <div class="modal-body">
			    <p>Are you sure you want to {{action.description}}?</p>
			  </div>
			  <div class="modal-footer">
			    <button type="button" class="btn btn-outline-dark" (click)="d('do nothing')">Do nothing</button>
			    <button type="button" class="btn btn-outline-dark" (click)="c(action)">{{action.title}}</button>
			  </div>
			</ng-template>
          <button class="button" (click)="action.confirm ? openActionConfirm(confirmdialog): doAction(action)" [disabled]="!perfint.enabled">{{action.title}}</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

