<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading">Loading performance...</div>
    <div *ngIf="!!performance">
      <h2>Performance: {{performance.title}}</h2>
      
      <div *ngIf="editing || saving">
        <div *ngIf="errorEdit" class="alert alert-danger">Error: {{errorEdit}}</div>
        <hub-performance-form [performance]="editPerformance" (save)="save($event)" (cancel)="cancel()" [disabled]="saving"></hub-performance-form>
      </div>
      
      <div *ngIf="!editing && !saving">
        <div style="margin-bottom: 1em">
          <button type="button" (click)="edit()"
            [disabled]="false" *ngIf="!!performance.capabilities && !!performance.capabilities['edit-performance']" class="btn btn-info">Edit</button>
        </div>
        <p *ngIf="performance.work">Work: {{ performance.work.title }} ({{performance.work.year}})</p>
        <p>Performer: {{performance.performer_title}} - {{performance.performer_bio}}</p>
        <p>Venue: {{performance.venue_title}}, in {{performance.location}}</p>
        <p>Date: {{performance.date}} {{performance.time}} {{performance.timezone}}
        <p>Status: {{performance.status}}, <span *ngIf="performance.public">public</span><span *ngIf="!performance.public">private</span></p> 
        <p *ngIf="performance.linked_performance">Preceded by: {{performance.linked_performance.title}}, performed by {{performance.linked_performance.performer_title}}</p>
        <p *ngIf="performance.rev_linked_performance">Followed by: {{performance.rev_linked_performance.title}}, performed by {{performance.rev_linked_performance.performer_title}}</p>
      </div>
    </div>
    <div *ngIf="canEditRoles">
      <h3>Roles</h3>
      <div *ngIf="roleError" class="alert alert-danger">Error: {{roleError}}</div>
      <ul>
        <li *ngFor="let ra of roleAssignments">{{ra.role}}: {{ra.account.nickname}} ({{ra.account.email}})
          <button type="button" [disabled]="savingRoles" class="btn btn-info btn-sm" (click)="removeRoleAssignent(ra)">Remove</button>
        </li>
      </ul>
      <select [(ngModel)]="addRoleAccountid">
        <option [value]="null"></option>
        <option *ngFor="let account of accounts" [value]="account.id">{{account.nickname}} ({{account.email}})</option>
      </select>
      <button type="button" [disabled]="savingRoles" class="btn btn-info btn-sm" (click)="addPerformanceManager()">Make manager</button>
    </div>
    <h3>Tools</h3>
    <div *ngIf="error2" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading2">Loading plugins...</div>
    <ul>
      <li *ngFor="let perfint of performanceIntegrations">
        <a [routerLink]="['/performance',perfint.performanceid,'integration',perfint.plugin.id]" >{{perfint.plugin.title}} ({{perfint.plugin.code}})</a>, Enabled: {{perfint.enabled}}
      </li>
    </ul>
    <form *ngIf="canCreatePerfints" [formGroup]="pluginForm" (ngSubmit)="newPerfint()">
      <div class="form-group">
        <label>Enable/update plugin:*</label>
        <select formControlName="pluginid" class="form-control">
          <option [value]="null"></option>
          <option *ngFor="let plugin of plugins" [value]="plugin.id">{{plugin.title}} ({{plugin.code}})</option>
        </select>
      </div>
      <div class="form-group">
        <label>GUID*:</label>
        <input class='form-control' formControlName="guid" >
      </div>
      <div>
        <button type="submit"
            [disabled]="pluginForm.pristine || savingPlugin || !pluginForm.valid" class="btn btn-info">Enable plugin</button> &nbsp;
      </div>
    </form>
  </div>
</div>