<form [formGroup]="performanceForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="button" (click)="revert()"
            [disabled]="disabled" class="btn btn-info">Cancel</button>
    <button type="submit"
            [disabled]="performanceForm.pristine || disabled || !performanceForm.valid" class="btn btn-info">Save</button> &nbsp;
  </div>
  <div class="form-group">
    <label class="center-block">Title:*</label>
    <input class="form-control" formControlName="title">
  </div>
  <div class="form-group">
    <label class="center-block">Description:</label>
    <input class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <label class="center-block">Performer:*</label>
    <input class="form-control" formControlName="performer_title">
  </div>
  <div class="form-group">
    <label class="center-block">Bio:</label>
    <textarea class="form-control" formControlName="performer_bio"></textarea>
  </div>
  <div class="form-group">
    <label class="center-block">Venue:*</label>
    <input class="form-control" formControlName="venue_title">
  </div>
  <div class="form-group">
    <label class="center-block">Location:*</label>
    <input class="form-control" formControlName="location">
  </div>
  <div class="form-group">
    <label class="center-block">Date (YYYY-MM-DD):</label>
    <input class="form-control" formControlName="date">
  </div>
  <div class="form-group">
    <label class="center-block">Time (HH:MM:SS):</label>
    <input class="form-control" formControlName="time">
  </div>
  <div class="form-group">
    <label class="center-block">Timezone (+/-HH:MM):</label>
    <input class="form-control" formControlName="timezone">
  </div>
  <div class="form-group">
    <label class="center-block">Status:*</label>
    <select class="form-control" formControlName="status">
      <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" autocomplete="off" formControlName="ispublic">Public
    </label><!-- {{performanceForm.get('ispublic').value}} -->
  </div>
  <div class="form-group">
    <label class="center-block">Preceded immediately by:</label>
    <select class="form-control" formControlName="linked_performanceid">
      <option [value]="null">None</option>
      <option *ngFor="let performance of performances" [value]="performance.id">{{performance.title}}</option>
    </select>
     <small *ngIf="loadingPerformances" class="form-text text-muted">Loading performances...</small>
    <div *ngIf="errorPerformances" class="alert alert-danger">Sorry, unable to load performances</div>
  </div>
</form>