<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading">Loading work...</div>
    <div *ngIf="!!work">
      <h2>Work: {{ work.title }} ({{work.year}})</h2>
    </div>
    <h3>Performances</h3>
    <div *ngIf="error2" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading2">Loading performances...</div>
    <ul>
      <li *ngFor="let performance of performances">
        <a [routerLink]="['/performance',performance.id]" >{{performance.title}}</a>
      </li>
    </ul>
    <div>
      <a type="button" (click)="addPerformance()"
          *ngIf="!!work && !!work.capabilities && work.capabilities['create-work-performance']" 
          class="btn btn-info" [routerLink]="['/work',work.id,'add']">Add new performance</a>
    </div>
    <h3>Downloads</h3>
    <div *ngIf="error3" class="alert alert-danger">Error: {{error}}</div>
    <div *ngIf="loading3">Loading downloads...</div>
    <ul>
      <li *ngFor="let download of downloads">
        <a href="downloads/{{work.id}}/{{download.filename}}" target="_blank" download>{{download.filename}}</a>
      </li>
    </ul>
    <div *ngIf="canEditRoles">
      <h3>Roles</h3>
      <div *ngIf="roleError" class="alert alert-danger">Error: {{roleError}}</div>
      <ul>
        <li *ngFor="let ra of roleAssignments">{{ra.role}}: {{ra.account.nickname}} ({{ra.account.email}})
          <button type="button" [disabled]="savingRoles" class="btn btn-info btn-sm" (click)="removeRoleAssignent(ra)">Remove</button>
        </li>
      </ul>
      <select [(ngModel)]="addRoleAccountid">
        <option [value]="null"></option>
        <option *ngFor="let account of accounts" [value]="account.id">{{account.nickname}} ({{account.email}})</option>
      </select>
      <button type="button" [disabled]="savingRoles" class="btn btn-info btn-sm" (click)="addOwner()">Make owner</button>
      <button type="button" [disabled]="savingRoles"  class="btn btn-info btn-sm" (click)="addPerformer()">Make performer</button>
    </div>
  </div>
</div>